body {
    padding-top: 56px;
}

header {
    background-color: rgb(44, 62, 80);
}

.ms_line {
    height: 5px;
    width: 40%;
    margin: auto;
    border-radius: 2px;
    position: relative;
}

.ms_img {
    width: 180px;
}

.ms_about {
    background-color: rgb(26, 188, 156)
}

.ms_star {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    background-color: rgb(26, 188, 156);
    color: white;
}

.ms_button-send {
    background-color: rgb(26, 188, 156);
    ;
}

.ms_jumbotron {
    background-color: rgb(26, 188, 156);
}




.ms_mauto {
    margin: auto;
}

.ms_mxw {
    max-width: 1170px;
}